body {
  background-color: #FFF500;
  width: 100%;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}
.center {
  align-self: center;
  flex-direction: column;
}
.textbox {
  width: 100%;
  height: 90%;
  overflow: scroll;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  margin: 20%;
}
.textbox-header {
  position: absolute;
  display: flex;
  flex-direction: row;
  background: #fff;
  height: 30px;
  padding: 5px 6px 0 6px;
  border-bottom: 2px solid #000000;
}
.textbox-content {
  margin: 50px 40px 40px 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textbox-content h1 {
  font-family: Saira;
  font-style: normal;
  font-weight: black;
  line-height: normal;
  font-size: 24px;
  color: #000000;
  margin: 12px 0;
}
.textbox-content p, li {
  font-family: Saira;
  font-weight: regular;
  line-height: normal;
  font-size: 18px;
  text-align: left;
  color: #000000;
  margin: 0;
}
svg {
  width: 100%;
  height: 40px;
  display: inline;
}
.title {
display: flex;
justify-content: center;
width: 100%;
height: 30px;
background: #FFFFFF;
font-size: 16px;
}
p {
  font-family: Saira;
  font-style: normal;
  font-weight: medium;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  color: #000000;
  margin: 0;
}
p2 {
  font-family: Saira;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  color: #000000;
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 14px;
  width: auto;
  height: 50px;
  padding: 0 20px;
  margin-top: 30px;
  margin-right: 10px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover {
  background-color: #000;
}
button:hover p {
  color: #fff;
}
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
